{% extends "site/layout.html" %}
{% block title %}
<title>Reset Password - La Tienda Meridian</title>
{% endblock %}

{% block session_name %}

<a href="{{url_for('user_signup')}}"  class="logo-nav-link">
    login/register
</a>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 my-5" style="border-right: #AD343E solid 2px;border-left: #AD343E solid 2px;">
            <h3 style="text-align: center;"> Reset Password</h3> 
            <!-- flash messages  -->
            {% with m=get_flashed_messages() %}
                {% if m: %} 
                    {% for msg in m: %}
                        {{ msg|safe }}
                    {% endfor %}
                {% endif %}  
            {% endwith %}
            <!-- end flash messages -->

            <!-- form start -->
            <form action="{{url_for('reset_password')}}" method="post" class="resetpwd">
                <input type="hidden" name="csrf_token" id="csrf_token" value="{{csrf_token()}}">
                <div class="row my-3">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="email" class="form-label mb-1 cat-labels">Email</label>
                            <input type="email" class="form-control" name="email" id="email" placeholder="Enter Email">
                        </div>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-md-12">
                        <div class="form-group mb-2">
                            <label for="npwd" class="form-label mb-1 cat-labels">New Password</label>
                            <input type="password" class="form-control" name="npwd" id="npwd" placeholder="Enter Password">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group mb-2">
                            <label for="cpwd" class="form-label mb-1 cat-labels">Confirm Password</label>
                            <input type="password" class="form-control" name="cpwd" id="cpwd" placeholder="Enter Password">
                        </div>
                    </div>
                    <div>
                        <button id="hideShow" class="btn btn-primary btn-sm" type="button"> Show Password</button>
                    </div>                    
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="submit" class="form-control btn-lg btn hvr-hover" id="loginbtn" value="Reset Password">
                    </div>
                </div>    
            </form>
            <!-- End form  -->
            <p style="text-align: center;" class="signin-para mt-5">
                Return to 
                <a href="{{ url_for('login')}}" id="signin" class="btn hrv-hover">login</a>
            </p>
        </div>
        <div class="col-md-3">{{names}} {{deets}}{{i}}</div>
    </div>
</div>

{% endblock %}

{% block more_scripts%}
<script>
    $(document).ready(function(){
        $("#hideShow").click(function(){
            var pass = $("#npwd").attr("type");
            var newPass = $("#cpwd").attr("type");
            if(pass == "password" && newPass=="password"){
                $("#npwd").attr("type", "text");
                $("#cpwd").attr("type", "text");
                $("#hideShow").html("Hide Password")
            }else{
                $("#npwd").attr("type", "password");
                $("#cpwd").attr("type", "password");
                $("#hideShow").html("Show Password")
            }
        })
    })
</script>
{%endblock%}