 <!-- Start Footer  -->
 <footer>
    <div class="footer-main">
        <div class="container">
            <div class="row mb-4">
                <div class="col-md-2">
                    <h6 style="color: #ECE9E9 !important;">EMAIL SUPPORT</h6>
                    <a style="font-size: 12px; color: #F0B92D; text-decoration: none;" href="mailto:support@latiendameridian.com">support@latiendameridian.com</a>
                </div>
                <div class="col-md-2">
                    <h6 style="color: #ECE9E9 !important;">PHONE SUPPORT</h6>
                    <a style="font-size: 12px; color: #F0B92D; text-decoration: none;" href="tel:+23415930131" target="_blank">+234-901-593-0131</a>
                </div>
                <div class="col-md-2">
                    <h6 style="color: #ECE9E9 !important;">WHATSAPP</h6>
                    <a style="font-size: 12px; color: #F0B92D; text-decoration: none;" href="https://wa.me/+2348136560110">+234-813-656-0110</a>
                </div>
                <div class="col-md-2">
                    <p style="font-size: 12px; color: #ECE9E9;">Subscribe to our newsletter to get updates on our latest offers!</p>
                </div>
                    <!-- Search Bar -->
                <div class="col-md-4 pt-2 mb-5">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Email Address" aria-label="Search" width="100%" style="border-radius: 20px;">
                        <button type="button" class="btn searchBtn">Subscribe</button>
                    </form>
                </div>
                </div>
            </div>
            <div class="row mx-5">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-widget">
                        <h4>About La Tienda Meridian</h4>
                        <p>We founded this business with one goal in mind: providing a high-quality, smart, and reliable online store. Our passion for excellence has driven us from the beginning and continues to drive us into the future. We know that every product counts, and strive to make the entire shopping experience as rewarding as possible. Check it out for yourself! <a href="about.html" style="color: #F0B92D;text-decoration: none;">more...</a>
                            </p>
                            <ul>
                                <li><a href="https://wa.me/+2348136560110" target="_blank"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.facebook.com/themeridianstore" target="_blank"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.twitter.com/d_meridianstore" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="https://instagram.com/the_meridianstore" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.linkedin.com/company/themeridianstore" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.youtube.com/channel/UCRid-iY5ae7ZuqcrzTaPObQ/" target="_blank"><i class="fab fa-square-youtube" aria-hidden="true"></i></a></li>
                                <li><a href="tel:+2349015930131"><i class="fa-solid fa-phone" aria-hidden="true"></i></a></li>
                            </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-link">
                        <h4>Information</h4>
                        <ul>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="#">Track My order Us</a></li>
                            <li><a href="#">Sell on Meridian</a></li>
                            <li><a href="#">FAQs</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Shipping &amp; Returns</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Help Centre</a></li>
                            <li><a href="#">Delivery Options &amp; Timeline</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-link-contact">
                        <h4>Contact Us</h4>
                        <ul>
                            <li>
                                <p><i class="fas fa-map-marker-alt"></i>Address: School of Transport, <br>Lagos State University, Ojo<br> 102101 Lagos. </p>
                            </li>
                            <li>
                                <p><i class="fas fa-phone-square"></i>Phone: <a href="tel:+2348136560110">+234-813-6560-110</a></p>
                            </li>
                            <li>
                                <p><i class="fas fa-envelope"></i>Email: <a href="mailto:latiendameridian@gmail.com">latiendameridian@gmail.com</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer  -->

    <!-- Start copyright  -->
    <div class="footer-copyright">
        <p class="footer-company">All Rights Reserved. &copy; 2023 <a href="#">La Tienda Meridian</a>
    </div>
    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>


<script src="{{url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js')}}" type='text/javascript'></script>

</body>
</html>