{% extends "admin/adminlayout.html"%}

{% block title %}
<title>Product Categories - La Tienda Meridian</title>
{% endblock %}

{% block canvas %}
{% endblock %}


{% block top_content %}
<!-- Content -->
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h3">Products</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <a href="/admin/products/view-products" class="btn btn-sm btn-warning">View Products</a>
          <a href="/admin/products/view-deleted-products" class="btn btn-sm btn-outline-secondary">Deleted Products</a>
          <a href="/admin/products/view-deleted-products-by-user" class="btn btn-sm btn-outline-secondary">Deleted by User</a>
          <a href="/admin/products/view-deleted-products-by-admin" class="btn btn-sm btn-outline-secondary">Deleted by Admin</a>
          <a href="/admin/products/view-pending-products" class="btn btn-sm btn-outline-secondary">Pending Approval</a>
          <a href="/admin/products/add-products" class="btn btn-sm btn-outline-secondary">Add Products</a>
        </div>
    </div>
  </div>
  {% endblock %}


  {% block main_content %}
      <!-- Content -->
<div class="container">
<div class="row mb-5">
    <h2 class="h5 text-center" style="color: #AD343E;">Edit Products</h2> <hr>
    <div class="col-md-9">                        
        <form action="/admin/product/editproduct/{{prod_deets.product_id}}" method="post" class="editprod" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" id="csrf_token" value="{{csrf_token()}}">
            <div class="row">
                <div class="col-md-12">
                    <div class="container-fluid">
                        <div class="container">                      
                            {% with msg =get_flashed_messages() %}
                                {% if msg %}
                                    {% for m in msg %}
                                        {{ m|safe }}
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}                   
                            <div class="row mt-5">
                                <div class="form-group mb-3 col-md-9">
                                    <label for="" class="form-label fw-bold">Product Name</label>
                                    <input type="text" name="prod_name" id="" class="form-control" value="{{prod_deets.name}}">
                                </div>
                                <div class="form-group mb-3 col-md-3">
                                    <label for="" class="form-label fw-bold">Quantity Available</label>
                                    <input type="number" name="qty" id="" class="form-control" value="{{prod_deets.quantity}}">
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="form-group mb-3 col-md-4">
                                    <label for="" class="form-label fw-bold">Product Category</label>
                                    <select name="prod_cat" id="" class="form-control">
                                        <option value="{{prod_deets.what_category.name}}">{{prod_deets.what_category.name}}</option>

                                        {% for cat in productcategory %}
                                        <option value="{{cat.category_id}}">{{cat.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group mb-3 col-md-4">
                                    <label for="" class="form-label fw-bold">Amount</label>
                                    <input type="Number" name="amt" id="" class="form-control" value="{{prod_deets.price}}">
                                </div>
                                <div class="form-group mb-3 col-md-4">
                                    <label for="" class="form-label fw-bold">Product SKU</label>
                                    <input type="text" name="prod_sku" id="" class="form-control" value="{{prod_deets.sku}}" readonly>
                                </div>
                            </div> 
                            <div class="row">
                                <div class="form-group mb-3 col-md-12">
                                    <label for="" class="form-label fw-bold">Product Description</label>
                                    <textarea name="prod_desc" class="form-control" rows="3" value="">{{prod_deets.description}}</textarea>
                                </div>
                            </div> 
                            <div class="row">
                              <div class="form-group col-md-12">
                                  <textarea name="postedby" class="form-control" rows="3" hidden>Posted by</textarea>
                              </div>
                          </div> 
                            <div class="row my-1">
                               {%if prod_deets.the_image!=None or prod_deets.the_image!=""%}
                                {% for img in prod_deets.the_image%}
                                <div class="form-group mb-3 col-md-4 fw-bold">
                                    <img src="{{url_for('static',filename='/productuploads/'+img.image_name)}}" width="200px" height="200px">
                                </div>
                                {% endfor %}
                               {%else%} 
                                <div class="form-group mb-3 col-md-4 fw-bold">
                                <img src="{{url_for('static',filename='/productuploads/noimg.jpg')}}" width="200px" height="200px">
                                </div>
                               {%endif%}
                            </div>                    
                           <div class="row">
                                <div class="form-group mb-3 col-md-2 fw-bold">Upload New Image(s)?:</div>
                                <div class="form-group mb-3 col-md-5">
                                    <input type="file" name="prod_img" id="" class="form-control" multiple placeholder="Upload Product Image(s)" value="">
                                </div>
                                <div class="form-group mb-3 col-md-5">
                                    <input type="submit" id="" class="form-control btn btn-warning" value="Edit Product">
                                </div>
                                <div style="text-align: right;">Posted by: {{deets.admin_name}}</div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>         
        </form>
    </div>
    <div class="col-md-3 mt-5" style="border-left: 3px solid #AD343E;"><hr>
        <div class="">
            <h6 style="color:#AD343E; text-decoration: underline;">Publish or Delete Product</h6>
        </div>
        <form method="post" action="/admin/products/view-products">
            <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token() }}">
            <input type="hidden" name="prodid" id="" value="{{prod_deets.product_id}}">
            <select name="status" id="" class="form-control mb-3">
                <option value="1">Publish</option>
                <option value="0">Unpublish</option>
            </select>
            <select name="delstatus" id="" class="form-control mb-3">
                <option value="0">Allow</option>
                <option value="1">Delete</option>
            </select>
            <select name="deletedby" id="" class="form-control mb-3" hidden>
                <option value="admin" selected>Admin</option>
            </select>
            <p><button class="btn btn-success w-100">Submit</button></p>
        </form>
    </div>
</div>
</div>
{% endblock %}

{% block more_scripts %}
<script src="{{url_for('static',filename='js/jquery-3.2.1.min.js')}}"></script>
<script>
    $(document).ready(function(){
        $(".statusbtn").click(function(){
            
        })



    })
</script>
{% endblock %}