{% extends 'admin/adminlayout.html' %}



    <!-- Site Metas -->
    {% block title %}
    <title>Orders Details - Meridian Admin</title>
    {% endblock %}

    {% block canvas %}
    {% endblock %}

    {% block top_content %}
    <!-- Content -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Messages</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-warning"><a href="{{url_for('contactus_messages')}}" class="top-link">All Messages</a></button>
            <button type="button" class="btn btn-sm btn-outline-warning"><a href="{{url_for('contactus_messages_unread')}}" class="top-link">Unread</a></button>
            <button type="button" class="btn btn-sm btn-outline-warning"><a href="{{url_for('contactus_messages_read')}}" class="top-link">Read</a></button>
            <button type="button" class="btn btn-sm btn-outline-warning"><a href="{{url_for('contactus_messages_responded')}}" class="top-link">Responded</a></button>
          </div>
        </div>
      </div>
      {% endblock %}


  


      {% block main_content %}
      <h4>Edit Message Status</h4>
      <div class="row mt-5">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <form action="/admin/messages/edit-status/{{updatemsg.contactus_id}}" method="post">
            <input type="hidden" name="csrf_token" id="csrf_token" value="{{csrf_token()}}">
            <select name="status" id="" class="form-control mb-3">
                <option value="read">Read</option>
                <option value="responded">Responded</option>
                <option value="unread">Unread</option>
            </select>
            <p><button class="btn btn-success w-100">Submit</button></p>
          </form>
        
        </div>
        <div class="col-md-3"></div>
      </div>
    </main>
    {% endblock %}
  </div>
</div>


    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>

      <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/dashboard.js')}}"></script>
  </body>
</html>
